<div class="card dss-card-vh-100" dssViewportHeight="140px">
  <div class="card-body dss-card-body-scroll">
    <dss-table-dashboard
      #dashboardGrid
      class="dss-table-grid-header"
      [title]="dashboardTitle"
      [isFilterVisible]="false"
      [items]="jsonData"
      [columns]="columns"
      [autoLoad]="false"
      [bordered]="true"
      [paginated]="true"
      [actions]="true"
      [handleAdd]="handleAdd"
      [handleEdit]="handleEdit"
      [handleDelete]="handleDelete"
      [bodyHeight]="'calc(100vh - 350px)'"
    >
    </dss-table-dashboard>
  </div>
</div>

<dss-otp-dialog
  [(isShow)]="varifyOtp"
  (result)="verifyOtp($event)"
></dss-otp-dialog>
