<div class="card dss-card-vh-100" dssViewportHeight="140px">
  <div class="card-body dss-card-body-scroll">
    <dss-table-dashboard
      #dashboardGrid
      class="dss-table-grid-header"
      [title]="dashboardTitle"
      [isFilterVisible]="false"
      [items]="users()"
      [columns]="columns"
      [autoLoad]="false"
      [bordered]="true"
      [paginated]="true"
      [actions]="true"
      [handleAdd]="handleAdd"
      [handleEdit]="handleEdit"
      [handleDelete]="handleDelete"
      [bodyHeight]="'calc(100vh - 350px)'"
    >
    </dss-table-dashboard>
  </div>
</div>

<c-modal id="liveDemoModal" alignment="center" [(visible)]="visible">
  <c-modal-header>
    <h5 cModalTitle>User Management</h5>
    <button (click)="close()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="userInputs" class="card dss-card-vh-100">
      <div class="card-body">
        <dss-input-text
          label="Username"
          formControlName="username"
          icon="cilUser"
          class="mb-3"
          [caseStyle]="caseStyle.TITLECASE"
        ></dss-input-text>

        <dss-input-text
          label="Mobile No."
          formControlName="mobileNo"
          class="mb-3"
          type="text"
          icon="cilMobile"
          inputmode="numeric"
          minlength="10"
          maxlength="10"
        ></dss-input-text>

        <dss-input-text
          label="Email"
          icon="cibMailRu"
          formControlName="email"
          class="mb-3"
        ></dss-input-text>

        <dss-ng-select
          id="userRolenm"
          label="Role"
          icon="cilShieldAlt"
          bindLabel="nm"
          bindValue="cd"
          formControlName="role"
          [items]="userRole"
        >
        </dss-ng-select>
        @if (userInputs.get("role")?.value != 1) {
          <dss-ng-select
            label="Branch"
            [items]="branches"
            formControlName="branch_code"
            bindLabel="branch_name"
            bindValue="branch_code"
          >
          </dss-ng-select>
        }
      </div>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="close()" cButton type="button" color="secondary">
      CLOSE
    </button>
    <button cButton color="success" type="button" (click)="saveModalData()">
      SUBMIT
    </button>
  </c-modal-footer>
</c-modal>
