.status-table {
  --payment-table-width: max(1750px, 100cqw);
  th:first-child, td:first-child { text-align: center; }
  tbody tr.payment-failed > td { background: #fff1f2; color: #991b1b; }
  tbody tr.payment-selected > td { background: #ffe4e6; }
  th:first-child, td:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
    border-right: 2px solid #dce3eb;
  }
  th:nth-child(n + 10), td:nth-child(n + 10) {
    position: sticky;
    z-index: 2;
  }
  th:nth-child(10), td:nth-child(10) {
    right: calc(var(--payment-table-width) * .17);
    border-left: 2px solid #dce3eb;
  }
  th:nth-child(11), td:nth-child(11) {
    right: calc(var(--payment-table-width) * .08);
  }
  th:nth-child(12), td:nth-child(12) { right: 0; }
  td:first-child, td:nth-child(n + 10) { background: #fff; }
}
